body{
    background-color: white;
}

:root{
    --blue-box: #006CFA;
    --green-nested: #00E165;
}

.debug{
    border: 1px solid white;
    background-color: var(--blue-box);
    color: white;
    text-align: center;
}

.nested{
    border: 1px solid var(--blue-box);
    background-color: var(--green-nested);
}

.spacer{
    min-height: 20px;
}